:root {
    --dark: #273B46;
    --light-fon: #E1D9D5;
    --light-text: #BFB2AC;
    --white: #FFFFFF; 

    --font-heading: 'Tenor Sans', sans-serif;
    --font-body: 'Inter', sans-serif;

    --container-max-width: 1200px;
    --border-radius: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-fon);
    width: 100%;
    overflow-x: hidden; 
}

.main-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main-page__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.main-page__fon-high {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
}

.main-page__logo {
    position: absolute;
    z-index: 3;
    display: flex;
    /*margin: 0.4rem 2.4rem;*/
    width: 211px;
    height: 43px;
    /*top: 7px;
    left: 39px;*/
    left: 3.25vw;
    top: 0.58333vh;  /*ВОЗМОЖНО ИЗМЕНЕНИЕ НА ПИКСЕЛИ*/
}

.main-page__nav {
    display: flex;
}

.main-page__menu {
    display: flex;
    position: absolute;
    top: 17px;
    right: 7.5rem;
    z-index: 2;
    gap: 3.875rem;
    
}

.main-page__menu-item {
    list-style: none;
}

.main-page__menu-link {
    color: var(--light-text);       
    font-family: var(--font-heading); 
    font-size: 20px;                 
    font-weight: 400;                
    text-decoration: none;           
    position: relative;    
    display: inline-block;    
    transition: all 0.3s ease; 
    transform-origin: center;
}

.main-page__menu-link:hover {
    transform: scale(1.05);
    
}

/* ДОБАВИТЬ ОСТАЛЬНЫЕ СТАДИИ ССЫЛОК*/

.main-page__hero {
    position: relative;
    z-index: 2;
    max-width: 560px;                    
    margin: 194px 76px 0 auto;          
    text-align: left;                   
}
.main-page__title {
    font-family: var(--font-heading);
    font-size: 54.05px;                  
    color: var(--light-text);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;                 
    text-align: left;                   
}
.main-page__description {
    font-family: var(--font-heading);
    font-size: 25.16px;                  
    color: var(--light-text);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;                 
    text-align: left;                   
}
.main-page__button {
    display: inline-block;               
}



.button--primary {
    width: 296px;
    height: 64.54px;
    
    position: relative;
    margin-top: 27px;                    
    margin-left: auto;                   
    margin-right: 332px;                 

    background-color: var(--white);      
    color: var(--dark);                  

    border: 8px solid rgba(255, 255, 255, 0.77) ; 
   
    font-family: var(--font-heading);
    font-size: 20px;
    text-align: center;                  
    
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    display: flex;                       
    align-items: center;                 
    justify-content: center;             
    box-sizing: border-box;              
}

.main-page__wave1 {
    z-index: 2;
    width: 100%;
}
