:root {
    --dark: #273B46;
    --light-fon: #E1D9D5;
    --light-text: #BFB2AC;

    --font-heading: 'Tenor Sans', sans-serif;
    --font-body: 'Inter', sans-serif;

    --container-max-width: 1200px;
    --border-radius: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-fon);
    width: 100%;
    overflow-x: hidden; /* Предотвращаем горизонтальный скролл */
}

.main-page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.main-page__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.main-page__fon-high {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
}

.main-page__logo {
    position: absolute;
    z-index: 3;
    display: flex;
    /*margin: 0.4rem 2.4rem;*/
    width: 211px;
    height: 43px;
    /*top: 7px;
    left: 39px;*/
    left: 3.25vw;
    top: 0.58333vh;  /*ВОЗМОЖНО ИЗМЕНЕНИЕ НА ПИКСЕЛИ*/
}

.main-page__nav {
    display: flex;
}

.main-page__menu {
    display: flex;
    position: absolute;
    top: 17px;
    right: 7.5rem;
    z-index: 2;
    gap: 3.875rem;
    
}

.main-page__menu-item {
    list-style: none;
}

.main-page__menu-link {
    color: var(--light-text);       
    font-family: var(--font-heading); 
    font-size: 20px;                 
    font-weight: 400;                
    text-decoration: none;           
    position: relative;        
}

.main-page__menu-link:hover {
    color: var(--white);             /* ДОБАВИТЬ Белый цвет при наведении */
    transform: translateY(-2px);     /* Легкое поднятие */
}